.sidebar {
  background-color: #0f0f0f;
  position: fixed;
  left: 5px;
  bottom: 0;
  top: 56px;
  width: 64px;
  padding-top: 5px;
}

.yt-sidebar-icon {
  height: 44px;
  width: 64px;
  padding-top: 16px;
  padding-bottom: 14px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.yt-sidebar-icon:hover {
  background-color: #272727;
  border-radius: 10px;
}

.yt-sidebar-icon svg {
  width: 24px;
  height: 24px;
  padding-bottom: 6px;
}

.yt-sidebar-icon div {
  font-size: 10px;
  font-family: roboto, arial;
  color: white;
}
